
.app{
    height: 100vh;
    background-image: url('../public/assets/bg-1.png');
    background-color: #9f9e9f;
    .sections{
        width: 100%;
        height: calc(100vh - 70px);

        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;

        }
    }
}